body{
    
    margin: auto;
}
header{
    background-color: grey;
    display: flex;
    align-items: center;
    height:80px;
    justify-content: space-between;
}
footer{
    background-color: gray; 
    width: 100%;
    bottom: 0px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
nav{
    margin-left: auto;
    margin-right: auto; 
}
nav a {
    color: black;
    font-size: 150%;
}

main{
    display:flex;
    flex-direction: column; 
    margin: 12%;
    
}
    

.icon{
    width: 240px;
    margin: 3%;
}
form{
    /* align-items: center;
    flex-direction: column; */
    width: 50%;
    font-size: large;
    margin: 0% 25%;
    background-color: rgb(191, 196, 255);
    
    
}
form fieldset{
    display:flex;
    flex-direction:column;
}

input, select{
    
  padding: 2% 2%;
}
select option{
    /* font-size: 130%; */
}

input[type=submit]{
    
}

#showEmployee{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;

}
.EM  {
    display:flex;
    align-items: center;
    flex-direction:column;
    background-color: greenyellow;
    margin: 40px;
    border-style:dashed;
    width: 250px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;

    
    
    
}

/* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #222E38;
    border-radius: 6px;
    width: 100%;
    color: #222E38;
    font-size: 18px;
    text-transform: uppercase; */